.entry {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: url("../../../assets/BG.avif") no-repeat center center;
  background-size: cover;

  .content {
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .ant-select {
      display: none !important;
    }

    .body {
      margin-top: 12px;
      display: flex;
      gap: 12px;
      flex-grow: 1;
    }
  }
}