.description {
  position: relative;
  display: flex;
  padding: 2px 4px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 0;
  background: #ffffff10;
  backdrop-filter: blur(8.8px);

  .title {
    color: var(--Grey-300, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    /* 21px */
    letter-spacing: 0.449px;
  }

  .text {
    margin-left: 12px;
    flex: 1 1 auto;
    color: var(--Grey-600, #fff);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }


  .btnConnect {
    width: 150px;
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 6px;
    background: #f40a64A0;
    cursor: pointer;
    user-select: none;
    caret-color: transparent;
    box-sizing: border-box;
    transition: all .3s ease-in-out;

    &:hover {
      background: #f40a64C0;
    }

    .btnText {
      width: 100px;
      text-align: center;
      color: var(---White, #FFF);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }

    .btnText.disconnect {
      color: var(--Error-400-T, #E95C7B);
    }

    .loading {
      margin-left: 4px;
    }
  }

  .btnConnect.disabled {
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none; // Prevent interaction
  }

  .btnConnect.disconnect {
    background: #ffffff10;
    backdrop-filter: blur(8.8px);
    border: 1px solid var(--Error-400-T, #E95C7B);
  }

  .btnNext {
    width: 200px;
    display: flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #fff;
    background: transparent;
    cursor: pointer;
    user-select: none;
    caret-color: transparent;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
  }

}