.chat {
  flex: 1 1 auto;
  flex-grow: 1;
  min-width: 100px;
  display: flex;
  max-width: 372px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 0;
  background: #ffffff10;
  backdrop-filter: blur(8.8px);
  overflow: hidden;
  min-height: 200px;
  height: 200px;
  margin-bottom: 10px;

  .header {
    display: flex;
    height: 42px;
    padding: 0px 16px;
    align-items: center;
    align-self: stretch;
    border-bottom: 0;

    .left {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      gap: 5px;

      .text {
        margin-left: 4px;
        color: var(--Grey-300, #fff);
        font-size: 13px;
        font-weight: 600;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0.449px;
      }

      .languageSelect {
        width: 100px;
      }
    }


    .right {
      display: flex;
      align-items: center;
      gap: 6px;
      flex: 0 0 130px;
      justify-content: right;
    }

  }

  .content {
    display: flex;
    padding: 6px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 100px;
    align-self: stretch;
    overflow-y: auto;


    &::-webkit-scrollbar {
      width: 6px
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #6B6B6B;
      border-radius: 4px;
    }
  }


}